fastapi==0.116.1
uvicorn[standard]==0.35.0
pymongo==4.9.2
pydantic-settings==2.10.1
PyJWT==2.10.1
python-multipart==0.0.20
email-validator==2.2.0
httpx==0.28.1
reportlab==4.4.4
cryptography==46.0.3
qrcode[pil]==8.2